body{
    background-color: black;

}
h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

.poster{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    color: white;
    font-family: "Libre Baskerville","serif";
}

.thepic{
    border: 5px white;
    width: 100%;
}